In [2]:
import pandas as pd

# Load CSV file
Dataset = pd.read_csv('C:/Users/Ashani Madushani/Desktop/final Project/Metabolic Syndrome.csv')

# Display first 5 rows
Dataset.head()

,seqn,Age,Sex,Marital,Income,Race,WaistCirc,BMI,Albuminuria,UrAlbCr,UricAcid,BloodGlucose,HDL,Triglycerides,MetabolicSyndrome
0,62161,22,Male,Single,8200.0,White,81.0,23.3,0,3.88,4.9,92,41,84,0
1,62164,44,Female,Married,4500.0,White,80.1,23.2,0,8.55,4.5,82,28,56,0
2,62169,21,Male,Single,800.0,Asian,69.6,20.1,0,5.07,5.4,107,43,78,0
3,62172,43,Female,Single,2000.0,Black,120.4,33.3,0,5.22,5.0,104,73,141,0
4,62177,51,Male,Married,NaN,Asian,81.1,20.1,0,8.13,5.0,95,43,126,0

In [10]:
#Print dimension
print("Dimensions (Rows, Columns):", Dataset.shape)

Dimensions (Rows, Columns): (2401, 15)

In [6]:
# Display DataFrame structure (column names, dtypes, non-null counts)
Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2401 entries, 0 to 2400
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   seqn               2401 non-null   int64
 1   Age                2401 non-null   int64
 2   Sex                2401 non-null   object
 3   Marital            2193 non-null   object
 4   Income             2284 non-null   float64
 5   Race               2401 non-null   object
 6   WaistCirc          2316 non-null   float64
 7   BMI                2375 non-null   float64
 8   Albuminuria        2401 non-null   int64
 9   UrAlbCr            2401 non-null   float64
 10  UricAcid           2401 non-null   float64
 11  BloodGlucose       2401 non-null   int64
 12  HDL                2401 non-null   int64
 13  Triglycerides      2401 non-null   int64
 14  MetabolicSyndrome  2401 non-null   int64
dtypes: float64(5), int64(7), object(3)
memory usage: 281.5+ KB

In [8]:
# Check for missing values in each column
print("Missing values per column:")
print(Dataset.isnull().sum())

# Total missing values in the entire dataset
print("\nTotal missing values in dataset:", Dataset.isnull().sum().sum())

Missing values per column:
seqn                   0
Age                    0
Sex                    0
Marital              208
Income               117
Race                   0
WaistCirc             85
BMI                   26
Albuminuria            0
UrAlbCr                0
UricAcid               0
BloodGlucose           0
HDL                    0
Triglycerides          0
MetabolicSyndrome      0
dtype: int64

Total missing values in dataset: 436

In [11]:
# For datasets with categorical variables
from sklearn.preprocessing import LabelEncoder

# Create copy of dataset
dataset_encoded = Dataset.copy()

# Encode categorical columns
for column in dataset_encoded.select_dtypes(include=['object']).columns:
    dataset_encoded[column] = LabelEncoder().fit_transform(dataset_encoded[column])

# Now create correlation matrix and heatmap
corr_matrix = dataset_encoded.corr()
plt.figure(figsize=(12, 10))
sns.heatmap(corr_matrix, annot=True, cmap='viridis', fmt=".2f")
plt.title("Correlation Heatmap (Including Categorical Variables)")
plt.show()

NameError: name 'plt' is not defined